>Data cleaning project with pandas - Hotel booking data from kaggle(csv)

In [8]:
#importing pandas

import pandas as pd

In [9]:
#read data from the dataset

hotel_data = pd.read_csv('./csvs/hotel_bookings_dirty.csv')

In [11]:
#first look at the dataset
hotel_data.head()   #displays the first five rows of data in the table

hotel_data  #displays the csv table

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [53]:
#dropping and naming columns

hotel_data.columns  #displays the columns of the table

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'num_adults', 'num_children', 'num_babies',
       'meal', 'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'address',
       'total_of_special_requests', 'reservation_status',
       'reservation_status_date'],
      dtype='object')

In [ ]:
hotel_data.drop(columns='required_car_parking_spaces', inplace=True)    #deletes the column in question

In [ ]:
#renaming of select columns

hotel_data.rename({'adr': 'address', 'adults': 'num_adults', 'children': 'num_children', 'babies' : 'num_babies'}, axis = 1, inplace = True)

In [ ]:
hotel_data.head(10) #display of the first ten rows

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,address,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,NaN,0,Transient,0.0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,NaN,0,Transient,0.0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,NaN,0,Transient,75.0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,NaN,0,Transient,75.0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,NaN,0,Transient,98.0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,NaN,0,Transient,98.0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,0,No Deposit,NaN,NaN,0,Transient,107.0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,0,No Deposit,303.0,NaN,0,Transient,103.0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,0,No Deposit,240.0,NaN,0,Transient,82.0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,0,No Deposit,15.0,NaN,0,Transient,105.5,0,Canceled,2015-04-22

In [52]:
#Nans >> NULLs

#calculate percentage of NULL/NaN values within each column
#both the below lines of code achieve the same output

hotel_data.isnull().sum() * 100 / len(hotel_data)

(hotel_data.isnull().sum() / len(hotel_data))* 100

hotel                             0.000000
is_canceled                       0.000000
lead_time                         0.000000
arrival_date_year                 0.000000
arrival_date_month                0.000000
arrival_date_week_number          0.000000
arrival_date_day_of_month         0.000000
stays_in_weekend_nights           0.000000
stays_in_week_nights              0.000000
num_adults                        0.000000
num_children                      0.000000
num_babies                        0.000000
meal                              0.000000
country                           0.408758
market_segment                    0.000000
distribution_channel              0.000000
is_repeated_guest                 0.000000
previous_cancellations            0.000000
previous_bookings_not_canceled    0.000000
reserved_room_type                0.000000
assigned_room_type                0.000000
booking_changes                   0.000000
deposit_type                      0.000000
agent                             0.000000
days_in_waiting_list              0.000000
customer_type                     0.000000
address                           0.000000
total_of_special_requests         0.000000
reservation_status                0.000000
reservation_status_date           0.000000
dtype: float64

In [ ]:
#replacing NaN/NULL values in a column
hotel_data['agent'].fillna(-1, inplace=True)
hotel_data['company'].fillna(0, inplace=True)

In [44]:
#checking for null values
hotel_data[hotel_data['num_children'].isna()]

hotel_data[hotel_data['country'].isna()][['num_adults', 'booking_changes', 'country']]

        num_adults  booking_changes country
30               1                2     NaN
4127             0                0     NaN
7092             1                0     NaN
7860             2                0     NaN
8779             1                0     NaN
...            ...              ...     ...
65908            0                0     NaN
65909            0                0     NaN
65910            0                0     NaN
80830            1                0     NaN
101488           2                0     NaN

[488 rows x 3 columns]

In [51]:
#dropping column NULL values
hotel_data.dropna(subset=['num_children'], inplace=True)

#dropping entire column
hotel_data.drop(columns=['company'], inplace=True)

In [57]:
#checking column datatypes
hotel_data.dtypes

hotel                              object
is_canceled                       boolean
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
num_adults                          int64
num_children                        int64
num_babies                          int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 boolean
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
days_in_waiting_list                int64
customer_type                      object
address                           float64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [56]:
#changing column types
hotel_data = hotel_data.astype({'num_children': 'int', 'is_canceled': 'boolean', 'is_repeated_guest': 'boolean'})

In [63]:
#bin columns

#display column unique values
hotel_data['lead_time'].unique

#gives a summary break-down of the column values
hotel_data['lead_time'].describe()  

bin = [0, 250, 500, 750]
label = ['0-250', '250-500', '500-750']

hotel_data['lead_time_binned'] = pd.cut(hotel_data['lead_time'], bins=bin, labels=label)
hotel_data[['lead_time', 'lead_time_binned']]

        lead_time lead_time_binned
0             342          250-500
1             737          500-750
2               7            0-250
3              13            0-250
4              14            0-250
...           ...              ...
119385         23            0-250
119386        102            0-250
119387         34            0-250
119388        109            0-250
119389        205            0-250

[119386 rows x 2 columns]

In [ ]:
#separation of columns

hotel_data['arrival_date_month'] = hotel_data['arrival_date'].str.split('-', expand=True)[0]
hotel_data['arrival_date_year'] = hotel_data['arrival_year'].str.split('-', expand=True)[1]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,address,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned
0,Resort Hotel,False,342,2015,July,27,1,0,0,2,...,3,No Deposit,-1.0,0,Transient,0.0,0,Check-Out,2015-07-01,250-500
1,Resort Hotel,False,737,2015,July,27,1,0,0,2,...,4,No Deposit,-1.0,0,Transient,0.0,0,Check-Out,2015-07-01,500-750
2,Resort Hotel,False,7,2015,July,27,1,0,1,1,...,0,No Deposit,-1.0,0,Transient,75.0,0,Check-Out,2015-07-02,0-250
3,Resort Hotel,False,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,Check-Out,2015-07-02,0-250
4,Resort Hotel,False,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,1,Check-Out,2015-07-03,0-250

In [65]:
#moving columns
column_to_move = hotel_data.pop('arrival_date_month')
hotel_data.insert(3, 'arrival_date_month', column_to_move)
hotel_data.head()

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,address,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned
0,Resort Hotel,False,342,July,2015,27,1,0,0,2,...,3,No Deposit,-1.0,0,Transient,0.0,0,Check-Out,2015-07-01,250-500
1,Resort Hotel,False,737,July,2015,27,1,0,0,2,...,4,No Deposit,-1.0,0,Transient,0.0,0,Check-Out,2015-07-01,500-750
2,Resort Hotel,False,7,July,2015,27,1,0,1,1,...,0,No Deposit,-1.0,0,Transient,75.0,0,Check-Out,2015-07-02,0-250
3,Resort Hotel,False,13,July,2015,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,Check-Out,2015-07-02,0-250
4,Resort Hotel,False,14,July,2015,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,1,Check-Out,2015-07-03,0-250

In [ ]:
#string cleaning

hotel_data['hotel'].unique()

# removes any single occurrence of *, a newline, or ^
hotel_data['hotel'] = hotel_data['hotel'].replace(r"[\*\n\^]", '', regex=True)

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [75]:
#removing duplicates

hotel_data.duplicated(keep=False)

hotel_data.loc[hotel_data.duplicated(keep=False)]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_month, arrival_date_year, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, num_adults, num_children, num_babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, days_in_waiting_list, customer_type, address, total_of_special_requests, reservation_status, reservation_status_date, lead_time_binned]
Index: []

[0 rows x 31 columns]

In [74]:
hotel_data.drop_duplicates(keep="first", inplace=True)